
#menu{
    position:relative;
    display:block;
    height:39px;
    font-size:15px;
    font-weight:bold;
    font-family:Arial,Verdana,Helvitica,sans-serif;
    border-top:4px solid;
    border-color:green;
    padding-bottom:3%;
}
    
#menu ul{
    margin:0;
    padding:0;
    list-style-type:none;
    width:auto;
}

#menu ul li{
    display:block;
    float:left;
    margin:0;
}
#menu ul li a{
    display:block;
    float:left;color:#666;
    text-decoration:none;
    padding:11px 20px 0 20px;
    height:23px;
}
#menu ul li a:hover,#menu ul li a.current{
    color:green;
}

#header {
	border-bottom:1px solid #999;
	height:50px;
	margin-bottom:50px;
	width:751px;
}
#header h1 {
	color:#888;
	font-size:200%;
	letter-spacing:-3px;
	text-align:left;
	padding:5px;
	margin-bottom:20px;
}
#header h2 {
	color:#CCC;
	font-size:130%;
	letter-spacing:-2px;
	text-align:left;
	margin-bottom:15px;
}

#box {
   
    margin-bottom:5%;
    margin-left:5%;
    margin-right:10%;
    width:90%;
    padding: 30px;
    border:groove 0px #000000;
    -moz-border-radius: 34px;
    -webkit-border-radius: 34px;
    border-radius: 34px;
    -moz-box-shadow: 0px 0px 17px #000000;
    -webkit-box-shadow: 0px 0px 17px #000000;
    box-shadow: 0px 0px 17px #000000;
    float:left;
    font-family:Arial,Verdana,Helvitica,sans-serif;
    
}

#footer{
    border-bottom:1px;
   float:center;
   margin-top:30%;
}

textarea{
	border: 1px solid black;
	border-radius: 10px;
	height: 60px;
	width: 40%;
}

/*for responsive tables*/
@media screen {
	table {
	    width:105%;
		overflow-x: auto;
		display: block;
		border-collapse: collapse;
		vertical-align: baseline;
		margin:0;
		padding:0;
	}
}